body{
	margin: 0;
}

#header{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #f6f6f6;
}

.headContainer{
	padding-left: 27%;/********************/
	padding-right: 27%;/***********************/
}

.navLink{
	margin-left: 70px;
}

.navLink a{
	color:#888888;
	text-decoration: none;
}

.homePic{
	padding-left: 16%;/********************/
	padding-right: 16%;/***********************/
}

.newProduct{
	background-color: #e7e7e7;
	text-align: center;
}

.productContent{
	display: inline-block;
	text-align: none;
}

.newProduct div{
	position: relative;
	top:-120px;
}

.content_ToolBar{
	background-color: #c8c10d;
	font-size: 0;	/* eliminate space between span */
	text-align: center;
}

.content_ToolBar div.icon_block{
	display: inline-block;
	margin: 33px 33px;
}

.content_ToolBar div span.content_icon{
	display: inline-block;	/* Make span enable to set width, height*/
	/*background-color: #000000;*/
	width: 80px;	/*80*/
	height: 44px;
	overflow: hidden;
}

.content_ToolBar div span a img#products{
	position: relative;
	top: -372px;
	left: -6px;
}

.content_ToolBar div p{
	font-size: 21px;
	color: white;
}

.content_ToolBar div span a img#ourStory{
	position: relative;
	top: -416px;
	left: -4px;
}

.content_ToolBar div span a img#flavors{
	position: relative;
	top: -279px;
	left: 5px;
}

.content_ToolBar div span a img#ourLocation{
	position: relative;
	top: -323px;
	left: 0px;
}

.socialMedia{
	background-color: #cb3362;
}

